{% extends 'main/base.html' %}

{% load static %}

{% block title %} | Portfolio {% endblock %}

{% block content %}

<div class="my-work">
 
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-3 fw-bold" id="staticBackdropLabel">My Latest Works</h1>
          <button type="button" class="btn-close fs-5 fw-bold text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="bg-[#000] w-full h-1/4 p-4 mb-4">
            <strong class="text-white ml-[10%] fs-4 text-xl fw-bold">What we offer:</strong>
            <p class="text-white fs-3 text-lg fw-bold">Get the best of your needs with our wide range of services. We offer a wide range of services including web design, web development, mobile app development, and digital marketing. We are experts in providing the best solutions for your business needs.</p>
          </div>

          <div class="">
            <p class="contain bg-blue-500 p-3 text-white text-xl font-serif font-semibold text-wrap">
              This has been the truth about my devoted and dedicated achievements
              that actually made me to strived in order to have the best moment
              of my life through much impact hoping to contribute in my successful
              careers and achievements in every aspect of my endeavors that will come
              or be an opportunity seeking.
            </p>
          </div>

          <section class="mt-12 mb-6">
            <strong></strong>
            <div class="portfolios">
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-1.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Project Source Code</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                      <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-2.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Project Mobile Responsiveness</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                      <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-3.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Frontend Project</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                      <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-4.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Project Source Code</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                     <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-5.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Project Source Code</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                      <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="image">
                  <img src="{% static 'assets/sc-6.jpg' %}" alt="">
                </div>
                <div class="hover-item">
                  <h3>Project Source Code</h3>
                  <div class="icons">
                    <a href="https://github.com/EdiCeM24" target="_blank" class="icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://x.com/edi_cem24" target="_blank" class="icon">
                      <i class="fa-brands fa-x-twitter"></i>
                    </a>
                  </div>
                  <div class="icons">
                    <a href="https://youtube.com/" target="_blank" class="icon">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}