
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: antiquewhite;
}
.terms {
  padding: 40px 60px;
}
.terms-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  font-family: serif;
}

.li-text span {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
} 
.target-link {
  text-decoration: none;
  color: #6161f3;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: serif;
}
.target-link:hover {
  color: #1111f7;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}