

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #203040;
  --color-red: #ff0000;
  --color-blue: rgba(0, 0, 255);
  --color-blue-2: rgba(0, 0, 255, 0.4);
  --color-green: green;
  --color-dark-1: #112219;
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --col-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-primary);
}
a {
  text-decoration: none;
}
/** BASE PAGE **/
.content {
  overflow: hidden;
  background-color: var(--color-grey-3);
  width: 100%;
  max-height: 100%;
}
.main-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
/** END OF BASE PAGE **/

/** NAVBAR SECTION **/
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-grey-4);
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 1;
  top: 0;
}
.my-logo .myLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 8%;
  text-decoration: none;
}
.myLogo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
.myLogo span {
  font-size: 5rem;
  color: var(--color-red);
  -webkit-text-stroke: 2px var(--color-secondary);
  text-transform: uppercase;
  font-family: serif;
  margin-left: 3%;
}
.aboutBtn, 
.portfolioBtn, 
.contactBtn, 
.strengthBtn, 
.servicesBtn, 
.signupBtn, 
.loginBtn {
  font-size: 28px;
  font-weight: 600;
  gap: 30px;
  margin: 10px;
}
.logoutBtn {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.aboutBtn i, 
.portfolioBtn i, 
.contactBtn i, 
.strengthBtn i, 
.servicesBtn i, 
.signupBtn i, 
.loginBtn i {
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  margin-top: .3rem;
  justify-content: center;
  cursor: pointer;
}
.logoutBtn
/** END OF NAVBAR SECTION **/

/** MAIN INDEX PAGE SECTION **/
.header-content {
  margin-bottom: 5%;
}
.container {
  background-color: var(--color-grey-1);
  width: 100%;
  max-height: fit-content;
  overflow: hidden;
  margin-top: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-in-main-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.left-side {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.photo {
  margin: 0;
  padding: 0;
}
.photo img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 20%;
  margin-top: 18%;
  filter: grayscale(1);
  object-fit: cover;
  margin-left: 25%;
  opacity: 0.5;
  transition: all .4s ease-in-out;
}
.photo img:hover {
  filter: grayscale(0);
  opacity: 1;
}
.user_authenticated h4 {
  color: var(--color-secondary);
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var( --color-grey-6);
  width: 55%;
  height: 100%;
  margin-top: -19%;
}
.auth-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 10%;
}
.greet-text {
  color: var(--color-secondary);
  font-size: 24px;
  font-weight: 700;
  margin-top: 4%;
}
.user-text {
  color: var(#eaf);
}
.text-user-message {
  color: #eaf;
  font-size: 18px;
  font-weight: 600;
}
.myName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.myName span {
  font-size: 20px;
  font-weight: 600;
  font-family: serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--color-grey-1);
}
.myName p {
  color: var(--color-grey-1);
  font-size: 26px;
  font-weight: 600;
  font-family: serif;
}
.text-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
}
.text-con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px 5px;
}
.texet-con .typedText {
  font-size: 20px;
  font-weight: 600;
}
.typedText {
  color: var(--color-red);
  font-size: 22px;
  font-weight: 600;
}
.c-s {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 5%;
}
.c-s img {
  width: 40px;
  height: 40px;
  padding: 4px 4px;
  border-radius: 50%;
}
.c-s strong {
  font-size: 23px;
  font-weight: 600;
  color: var(--color-grey-1);
}
.social-icons  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 2%;
  gap: 50px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.links {
  display: flex;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 6%;
  gap: 20px;
}
/** Independed Components **/
.btn-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 2px;
}
.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: var(--color-secondary) 2px solid;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-out;
}
.main-btn:hover::before {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
.btn-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  font-family: serif;
}
.btn-icon i {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}
.btn-icon i:hover {
  color: var(--color-white);
    transition: all 0.4s ease-out;
}

/** END OF MAIN INDEX PAGE SECTION **/

/** ABOUT PAGE SECTION **/
.about-btn-container {
  display: flex;
  align-self: self-end;
  align-items: center;
  gap: 2px;
  margin-right: 30%;
}
.birth-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.laptop-icon {
  margin-right: 5%;
}
.icons-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.btn-about-download {
  color: var(--color-dark-1);
  text-decoration: none;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
.about-text h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: serif;
  color: var(--color-white);
}
.about-text p {
  font-size: 18px;
  font-weight: 600;
  font-family: serif;
  color: var(--color-white);
}
.icons-tl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.faqs-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  margin-bottom: 2%;
}

/** END OF ABOUT PAGE SECTION **/

/** LOGIN PAGE SECTION **/
.login_div {
  overflow-y: hidden;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
  animation: scaleAnime .3s ease-in-out;
  @keyframes scaleAnime {
    0% {
      transform: traslateY(100%) scaleY(0);
    }
    100% {
      transform: traslateY(100%) scaleY(1);
    }
  }
}
.login-form-control {
  background-color: var(--color-dark-1);
  width: 100%;
  height: 100%;
}
.form-container {
  width: 65%;
  max-width: 65%;
  height: 100%;
  background-color: var(--col-grey0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login-text {
  font-size: 24px;
  font-weight: 600;

}
.login-form {
  background-color: var(--col-grey0);
  width: 50%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.login-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
.login-info p {
  font-size: 12px;
  font-weight: 600;
  font-family: serif;
}
.login-info a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.login-btn {
  margin-left: 15%;
}
.user_authenticated {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: var(--color-secondary);
}

/** END OF LOGIN PAGE SECTION **/


/** SIGNUP PAGE SECTION **/
.signup {
  overflow-y: auto;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.4);
  animation: scaleAnime 1s ease-in-out;
  @keyframes scaleAnime {
    0% {
      transform: traslateY(-50%, -50%) scaleY(0);
    }
    100% {
      transform: traslateY(-50%, -50%) scaleY();
    }
  }
}
.signup-form-control {
  background-color: var(--color-dark-1);
  width: 100%;
  height: 100%;
}
.form-container {
  width: 55%;
  max-width: 55%;
  height: 100%;
  background-color: var(--col-grey0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.signup-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  font-family: serif;
}
.user_authenticated-container {
  margin: 0;
  padding: 0;
}
.signup-form {
  background-color: var(--col-grey0);
  width: 50%;
  height: 100%;
  margin-top: -5%;
  margin-bottom: 1rem;
}
.signup-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-link p {
  font-size: 12px;
  font-weight: 600;
  font-family: serif;
}
.signup-link a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  font-family: serif;
}
.signup-link a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input {
  margin-top: -8%;
  font-size: 17px;
  font-weight: 600;
}
.checkbox p {
  font-size: 13px;
  font-weight: 600;
  font-family: serif;
}
.signup-btn {
  margin-left: 40%;
  margin-top: -5rem;
  margin-bottom: 5rem;
}
.social-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signup-social-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.signup-social-login img {
  width: 20px;
  margin-bottom: 6rem;
  border-radius: 50%;
}
.form-control-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.terms-signup-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
}
.terms-con-link, .privacy-con-link {
  font-size: 14px;
  font-weight: 600;
  font-family: serif;
  text-decoration: none;
}
.terms-con-link:hover, .privacy-con-link:hover {
  text-decoration: underline;
  transition: all .2s ease-in-out;
}
/** END OF SIGNUP PAGE SECTION **/


/** STRENGTH PAGE SECTION **/
.strength-container {
  visibility: hidden;
  animation: fadeIn 1s ease-in-out;
  @keyframes fadeIn {
    0% {
      transform: translateY(0) scaleY(1);
      opacity: 0;
    }
    100% {
      transform: translateY(100%) scaleY(0);
      opacity: 1;
    }
  } 
}
/** END OF STRENGTH PAGE SECTION **/



/** BRIEFCASE(PORTFOLIO) PAGE SECTION **/
.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-radius: 15px;
  flex-direction: column;
  gap: 4px;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item h3 {
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-item .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item .icons .icon i {
  font-size: 1rem;
  color: var(--color-blue);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-item .icons .icon:hover {
  background-color: var(--col-grey0);
}
.portfolios .portfolio-item .hover-item .hover-text {
  color: var(--color-grey-2);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: var(--transition);
}
.portfolios .portfolio-item .hover-item:hover {
  opacity: 1;
}

.portfolio-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}
/** END OF BRIEFCASE(PORTFOLIO) PAGE SECTION **/


/** SERVICES PAGE SECTION **/
.services {
  padding: 30px 0;
  width: 100%;
}
.sub-title {
  color: #000088;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.work-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 30px;
}
.work-info p {
  font-size: 10px;
  font-weight: 600;
  color: #000088;
  margin-bottom: 10px;
  margin-top: 5px;
}
.work-info img {
  transform: scale(1.1rem);
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 40px;
  grid-row: 40px;
  gap: 40px;
  margin-top: 50px;
}
.services-list h2 {
  color: #008080;
  font-size: 18px;
  font-weight: 600;
}
.services-list a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000088;
}
.services-list a:hover {
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
  color: #008080;
}
/** END OF SERVICES PAGE SECTION **/







.footer-1 {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.footer-text {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-grey-1);
  margin-top: 1rem;
  margin-bottom: 2rem;
}
