{% extends'main/base.html' %}

{% load static %}

{% block title %} | Secret {% endblock title %}

{% block secret %}
    <meta name="robots" content="noindex,nofollow"> 

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
             <span><h4 class="md:text-rose-950 sm:text-white sm:font-semibold">{{ message }}</h4></span>   
             {% else %}
               <span><h4 class="md:text-blue-950 sm:text-white sm:font-semibold">{{ message }}</h4></span>
            {% endif %}
        {% endfor %}  
    {% endif %}
    <h1>Secret page ...</h1>

{% endblock secret %}